<div id="root" >
    <div class="sandbox-loading-message">
        Loading...
    </div>
</div>

<script>
    window.csrfToken = '{{csrfToken}}';
    window.ivisConfig = {{{ivisConfig}}};
</script>

<script src="{{indexFile}}"></script>