<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IVIS Dashboard</title>
    <style>
        body.sandbox {
            overflow: hidden;
        }
    </style>
</head>
<body class="{{bodyClass}}">
{{{ body }}}
</body>
</html>
