.params {
  legend {
    border-bottom: 0px none;
    font-size: 18px;
    margin-bottom: 5px;
  }

  :global .fieldset-content {
    border: 1px solid #bdbdbd;
    padding: 15px 15px 0px 15px;
    border-radius: 3px;
    margin-bottom: 15px;
  }

  .entry {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 15px;
    min-height: 91px;
    position: relative;

    &:last-child {
      border-bottom: 0px none;
      margin-bottom: 0px;
    }

    .entryButtons {
      position: absolute;
      top: -8px;
      right: -8px;
      width: 19px;

      button {
        padding: 2px 3px;
        font-size: 11px;
        display: block;
        margin-bottom: 2px;
      }

      button:last-child {
        margin-bottom: 0px;
      }
    }

    &.entryWithButtons > .entryContent {
      margin-right: 26px;
    }
  }

  :global(.fieldset-content.fieldset-content-flat) {
    border: 0px none;
    padding: 0px;

    .entry {
      .entryButtons {
        top: 0px;
        right: 0px;
      }

      &.entryWithButtons > .entryContent {
        margin-right: 32px;
      }
    }
  }

  .newEntry{
    text-align: right;
    margin-bottom: 15px;
  }
}