language: en

indexer: mysql
# NOT NEEDED AT THE MOMEMNT
# timezone: "+02:00"

server:
  email: admin@example.com

elasticsearch:
  host: localhost
  port: 9200

mysql:
  host: localhost
  user: ivis
  password: ivis
  database: ivis
  port: 3306
  charset: utf8mb4
  timezone: local

www:
  # HTTP interface to listen on
  host: 0.0.0.0
  # HTTPS port to listen on
  trustedPort: 8443
  sandboxPort: 8444
  apiPort: 8445

  trustedUrlBase: https://localhost:8443
  sandboxUrlBase: https://localhost:8444

  # Secret for signing the session ID cookie
  secret: jd8j3hf785hng783k

  # Session length in seconds when "remember me" is checked
  remember: 2592000 # 30 days

  # Is the server behind a proxy? true/false
  # Set this to true if you are serving Mailtrain as a virtual domain through Nginx or Apache
  proxy: false

  # maximum POST body size
  postsize: 128MB

  # logger interface for expressjs morgan
  log: dev

certs:
  www:
    serverCert: certs/server-crt.pem
    serverKey: certs/server-key.pem

  api:
    caCert: certs/ca-crt.pem
    crl: certs/ca-crl.pem
    serverCert: certs/server-crt.pem
    serverKey: certs/server-key.pem


log:
  # silly|verbose|info|http|warn|error|silent
  level: verbose

roles:
  global:
    master:
      name: "Master"
      admin: true
      description: "All permissions"
      permissions:
      - rebuildPermissions
      - allocateSignalSet
      rootNamespaceRole: master

    test:
      name: "Test"
      description: "Test permissions"
      permissions:
      ownNamespaceRole: test

  namespace:
    master:
      name: "Master"
      description: "All permissions"
      permissions: ["view", "edit", "delete", "share", "createNamespace", "createTemplate", "createWorkspace", "createPanel", "createSignal", "createSignalSet", "manageUsers"]
      children:
        namespace: ["view", "edit", "delete", "share", "createNamespace", "createTemplate", "createWorkspace", "createPanel", "createSignal", "createSignalSet", "manageUsers"]
        template: ["view", "edit", "delete", "share", "execute"]
        workspace: ["view", "edit", "delete", "share", "createPanel"]
        panel: ["view", "edit", "delete", "share"]
        signal: ["view", "edit", "delete", "insert", "query", "share"]
        signalSet: ["view", "edit", "delete", "insert", "query", "share", "manageSignals", "reindex", "createSignal"]

    test:
      name: "Test"
      description: "Test permissions"
      permissions: ["view"]
      children:
        namespace: ["view"]
        template: ["view"]
        workspace: ["view"]
        panel: ["view"]
        signal: ["view"]
        signalSet: ["view"]

  template:
    master:
      name: "Master"
      description: "All permissions"
      permissions: ["view", "edit", "delete", "share", "execute", "createPanel"]

    test:
      name: "Test"
      description: "Test permissions"
      permissions: ["view"]

  workspace:
    master:
      name: "Master"
      description: "All permissions"
      permissions: ["view", "edit", "delete", "share", "createPanel"]

    test:
      name: "Test"
      description: "Test permissions"
      permissions: ["view"]

  panel:
    master:
      name: "Master"
      description: "All permissions"
      permissions: ["view", "edit", "delete", "share"]

    test:
      name: "Test"
      description: "Test permissions"
      permissions: ["view"]

  signal:
    master:
      name: "Master"
      description: "All permissions"
      permissions: ["view", "edit", "delete", "query", "share"]

    test:
      name: "Test"
      description: "Test permissions"
      permissions: ["view"]

  signalSet:
    master:
      name: "Master"
      description: "All permissions"
      permissions: ["view", "edit", "delete", "insert", "query", "share", "manageSignals", "reindex", "createSignal"]
      # Manage signals gives full permission to all signals contained in a signalSet

    test:
      name: "Test"
      description: "Test permissions"
      permissions: ["view"]
