.info {
  h3 {
    margin-bottom: 19px;
  }

  .infoTable {
    width: 100%;
    font-size: 14px;

    .infoTableLabel {
      font-weight: bold;
    }

    .infoTableValue {
      font-weight: bold;
    }
  }
}



.intervalChooser {
  margin-bottom: 15px;
  text-align: center;
  background-color: #f1f2f6;
/*
  :global .nav-pills {
    text-align: center;

    li {
      display: inline-block;
      float: none;
    }
  }
*/
}

.legend {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
}

.signalLabel {
  font-weight: bold;
  margin-right: 7px;
}

.signalColor {
  margin-right: 5px;
  padding: 0px 8px;
}