.info {
  h3 {
    margin-bottom: 19px;
  }

  .infoTable {
    width: 100%;
    font-size: 14px;

    .infoTableLabel {
      font-weight: bold;
    }

    .infoTableValue {
      font-weight: bold;
    }
  }
}
