@mixin panelWidget() {
  background-color: #264348;
  color: white;
  padding: 15px;
  border-radius: 3px;
  margin-bottom: 15px;

  legend {
    color: white;
  }

  :global .text-muted {
    color: #b8b8b8 !important;
  }

  :global .pagination>.disabled>a,
  :global .pagination>.disabled>a:focus,
  :global .pagination>.disabled>a:hover,
  :global .pagination>.disabled>span,
  :global .pagination>.disabled>span:focus,
  :global .pagination>.disabled>span:hover {
    color: #4f5c6d;
  }

  tbody {
    color: #434A54;
    background-color: white;
  }
}

.saveWidget {
  @include panelWidget();
}

.permanentLinkWidget {
  @include panelWidget();

  h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin-bottom: 15px;
  }

  textarea {
    width: 100%;
  }
}

.buttonRow {
  text-align: right;
  margin: 15px 0px 0px 0px;
}