.pie {
  .label {
    font-weight: bold;
  }
}

.legend {
  .legendRow {
    margin-bottom: 15px;
  }

  .label {
    font-weight: bold;
    margin-right: 7px;
  }

  .color {
    margin-right: 15px;
    padding: 0px 8px;
  }
}

.legendBottom {
  margin-top: 30px;
}

