.tooltip {
  padding: 15px;
  border-radius: 2px;
  background: #E6E9ED;

  .time {
    font-weight: bold;
    margin-bottom: 5px;
  }

  .signalLabel {
    font-weight: bold;
    margin-right: 7px;
  }

  .signalVal {
    margin-right: 7px;
  }

  .signalColor {
    margin-right: 5px;
  }
}